numpy>=1.23,<2
torch>=2.0
torchvision>=0.15
opencv-python>=4.6
matplotlib>=3.3
Pillow>=7.1
PyYAML>=5.3
requests>=2.23
scipy>=1.4
tqdm>=4.64
psutil
py-cpuinfo
pandas>=1.1
seaborn>=0.11
ultralytics-thop>=2.0
pycocotools>=2.0.7
lapx>=0.5.5
rich>=13.9.4,<14
gdown>=5,<6
filterpy>=1.4.5
ftfy>=6.1,<7
regex>=2023
click>=8
filelock>=3
packaging>=20
easydict
yacs
loguru
einops
timm
ninja
motmetrics==1.4.0
